@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap");

.one-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
}

:root {
  /* coffee color pallete  */
  position: fixed;
  --background-color: #45384a;
  --color-1: #e7a88b;
  --color-2: #edede9;
  font-family: JetBrains Mono, monospace;
  font-weight: 500;
  
  background-color: var(--background-color);
  transition: all 0.5s ease;
  white-space: pre-line !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  margin: 0;
  padding: 0;
  top: 22vh;
}
.weird_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-2);
}

.letter {
  color: var(--color-2);
  font-size: 1rem;
  font-weight: 700;
  background: none;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  font-family: Fira Code, monospace;  
  white-space: pre;
  text-align: start;
  margin: 1rem;
  text-shadow: 0 0 0.2rem var(--color-2);
  font-weight: 400;
}
p {
  color: var(--color-1);
  font-size: 1.5rem;
  text-shadow: 0 0 0.1rem var(--color-1);
}
ul {
  color: var(--color-1);
  font-size: 1.5rem;
  text-shadow: 0 0 0.1rem var(--color-1);
  line-height: 0rem;
}
li {
  color: var(--color-1);
  font-size: 1.5rem;
  text-shadow: 0 0 0.1rem var(--color-1);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2rem;
}
a {
  color: var(--color-1);
  font-size: 1.5rem;
  text-decoration: none;
  text-shadow: 0 0 0.1rem var(--color-2);
}
h1 {
  width: 100%;
  color: var(--color-1);
  font-size: 3rem;
  text-shadow: 0 0 0.1rem var(--color-1);
}
h2 {
  color: var(--color-2);
  font-size: 2rem;
  text-shadow: 0 0 0.1rem var(--color-1);
}
/* on smaller screen */
@media only screen and (max-width: 1000px) {
  .one-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .letter {
    font-size: 0.5rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
  }
  p {
    font-size: 1rem;
  }
  ul {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  :root {
    font-size: 0.8rem;
  }
}
/* on phone screens */ 
@media only screen and (max-width: 600px) {
  .one-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .letter {
    font-size: 0.5rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
  }
  p {
    font-size: 1rem;
  }
  ul {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  :root {
    font-size: 0.8rem;
  }
}